body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.admin-panel {
  display: flex;
  height: 100vh;
}

.admin-nav {
  width: 250px;
  background-color: #343a40;
  color: #fff;
  padding: 20px;
}

.admin-nav ul {
  list-style-type: none;
  padding: 0;
}

.admin-nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #444;
}

.admin-nav ul li a:hover {
  background-color: #007bff;
  color: #fff;
}

.admin-content {
  flex-grow: 1;
  padding: 20px;
}

h1 {
  color: #333;
}
.info-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.graph-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard h3 {
  margin-bottom: 15px;
}


/* Styles de base du popup */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  animation: popup-appear 0.5s ease-out;
}

/* ... Autres styles restent inchangés ... */


/* Bouton de fermeture amélioré */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover, .close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Titres et textes stylisés */
.popup h2 {
  color: #333;
  margin: 0;
  font-weight: 600;
  margin-bottom: 10px;
}

.popup p {
  color: #555;
  font-size: 1rem;
}

/* Styles spécifiques pour les popups de succès et d'échec */
#success-popup .popup-content {
  border: 3px solid #28a745; /* Vert pour succès */
}

#failure-popup .popup-content {
  border: 3px solid #dc3545; /* Rouge pour échec */
}
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}