.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 15px;
}

.login-card {
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #343a40;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

.card-body {
  padding: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 1rem;
  font-size: 1rem;
}

.btn-login {
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #0056b3;
}
/* Styles de base du popup */


/* Animation d'apparition */
@keyframes popup-appear {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
/* Styles de base du popup */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  animation: popup-appear 0.5s ease-out;
}

/* ... Autres styles restent inchangés ... */


/* Bouton de fermeture amélioré */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover, .close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Titres et textes stylisés */
.popup h2 {
  color: #333;
  margin: 0;
  font-weight: 600;
  margin-bottom: 10px;
}

.popup p {
  color: #555;
  font-size: 1rem;
}

/* Styles spécifiques pour les popups de succès et d'échec */
#success-popup .popup-content {
  border: 3px solid #28a745; /* Vert pour succès */
}

#failure-popup .popup-content {
  border: 3px solid #dc3545; /* Rouge pour échec */
}
.settings {
  margin-top: 20px;
}

.setting-item {
  margin-bottom: 15px;
}

.setting-item label {
  margin-right: 10px;
}
